@media screen and (max-width: 992px) and 
(min-width: 0px) {
    
    .navbar{
        font-size: 50px;
    }

    .navbar-toggler{
        font-size: 40px;
    }
    .sacola1{
        font-size: 50px;
        display: inline;
    }

    .sacola2{
        display: none;
    }

    .logo{
        font-size: 50px;
        align-items: center;
    }

    #myFooter{
        display: none;
    }
}

@media screen and (max-width: 3840px) and 
(min-width: 993px) {
    .sacola1{
        display: none;
    }
}