/*Logo Tipo*/

/*Barra de pesquisa*/

/* Menu */
#cssmenu{
    margin-top:25px;
    padding: 0;
    list-style-type: none;
    width: 100%;
    position: relative;
    display: block;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    zoom: 1;
    float:left;
}
.noticias-content1 a{
    text-decoration:none;
    font-family:Verdana, Geneva, sans-serif;
    text-align:center;
    color:#06C;
    margin-top:15px;
}
.imagem-tatucu{
    border-radius:10px;
}

#cssmenu ul {
    padding-left: 230px ;
}
#cssmenu ul:before {
    content: '';
    display: block;
}
#cssmenu ul:after {
    content: '';
    display: table;
    clear: both;
}
#cssmenu li {
    display: block;
    float: left;
    margin: 0;
    padding: 0 4px;
}
#cssmenu li a {
    display: block;
    float: left;
    color: #999999;
    text-decoration: none;
    font-weight: bold;
    padding: 0 20px 7px 20px;
    border-bottom: 3px solid transparent;
}
#cssmenu li a:hover {
    color: #FFFFFF;
    border-bottom: 3px solid #ccc;
}
#cssmenu li.active a {
    display: inline;
    border-bottom: 3px solid #fff;
    float: left;
    margin: 0;
}

/* Rodapé*/
