<!DOCTYPE html>
<html>
    <head>
        <script src="../js/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="C:\Users\lusan\OneDrive\Área de Trabalho\Projeto_p1\css\style.css" media="screen" />
        <body>
            <a href="Link-da-pagina" target="_blank"><div class="facebook"></div></a>

            <div class="logo">
                <img src=""/>
            </div>

            <div id='cssmenu'>
                <ul>
                   <li class='active'><a href='#'><span>Home</span></a></li>
                   <li><a href=''><span>Masculino</span></a></li>
                   <li><a href=''><span>Feminino</span></a></li>
                   <li><a href=''><span></span>Bonés</a></li>
                   <li><a href=''><span></span>Óculos</a></li>
                   <li class='last'><a href=''><span>Contato</span></a></li>
                </ul>
                </div>

                <div class="conteudo">

                </div>

                <div class="rodape">
                    <p>(Frase de copy RGT)</p>
                    <p id="scroll-top">TOP</p>
                </div>
        </body>
    </head>
</html>